@{
  Layout="_Layout";
}
<div class="jumbotron jumbotron-fluid">
  <h2>University of Nano</h2>
  <hr width=50% id="jumbo">
  <p>Driven to Discover</p>
</div>
<div class="container-fluid">
  <div class = "card-group row">
    <div class="card col-4 img-fluid" style="width: 18rem;">
      <img class="card-img" src="~/img/school.jpg" alt="picture of school">
    </div>
    <div class="card col-4 img-fluid" style="width: 18rem;">
      <img class="card-img" src="~/img/hockey.jpg" alt="picture of hockey skates">
    </div>
    <div class="card col-4 img-fluid" style="width: 18rem;">
      <img class="card-img" src="~/img/chalkboard.jpg" alt="picture of chalkboard">
    </div>
  </div>

</div>
