@{
  Layout="_Layout";
}

<h2>Add new student</h2>
<hr />
<div class ="form-group">
  <form action="/students" method="post">
    <label for="student-name">Student name:</label>
    <input id="student-name" name="student-name" type="text">
    <label for="enrollment-date">Enrollment Date:</label>
    <input id="enrollment-date" name="enrollment-date" type="text">
    <hr>
    <button type="submit" class="btn btn-primary btn-active" role="button" aria-pressed="true>">Add Student</button>
  </div>
</form>
