@{
  Layout="_Layout";
}

<div class="container-fluid">
<h2>Add new course</h2>
<hr />
<div class ="form-group">
  <form action="/courses" method="post">
    <label for="course-name">Course name:</label>
    <input id="course-name" name="course-name" type="text">
    <label for="course-number">Course number:</label>
    <input id="course-number" name="course-number" type="text">
    <hr>
    <button type="submit" class="btn btn-primary btn-active" role="button" aria-pressed="true>">Add Course</button>
  </div>
  </div>
</form>
